$margin: 12px;

:host{
    height: 100%;
    display: flex;
    flex-direction: column;
}

.row{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    transform: translateX(-100%);
    position: relative;

    > .image{
        width: 100%;
        height: 100%;
        border: calc(#{$margin} / 2) solid black;
        box-sizing: border-box;
        background-color: black;
        overflow: hidden;
        position: absolute;
        width: calc(100% / 5);
        top: 0;
        cursor: pointer;

        &.cursor{
            cursor: not-allowed;
        }

        > div{
            position: absolute;
            height: 100%;
            width: 100%;
            background-size: cover;
            background-position: center center;
            transition: width 0.4s linear, height 0.4s linear;

            &.top{
                top: 0;
            }

            &.ycenter:not(.xcenter){
                top: 50%;
                transform: translateY(-50%);
            }

            &.bottom{
                bottom: 0;
            }
            
            &.left{
                left: 0;
            }

            &.xcenter:not(.ycenter){
                left: 50%;
                transform: translateX(-50%);
            }

            &.right{
                right: 0;
            }

            &.ycenter.xcenter{
                top: 0;
                left: 0;
            }

            &.removed{
                height: 0;
                width: 0;
            }
        }
        

        &[width="2"]{
            width: calc(100% / 5 * 2);

            &.animated{
                > div{
                    &.animated{                        
                        &.horizontal{
                            animation: horizontalSlide 5s forwards;
                        }
                    }
                }
            }

            > div{
                &.animated{
                    &.horizontal{
                        background-position: 0% center;
                    }
                }
            }
        }

        &[width="1"]{
            &.animated{
                > div{
                    &.animated{
                        &.vertical{
                            animation: verticalSlide 5s forwards;
                        }
                    }
                }
            }

            > div{
                &.animated{
                    &.vertical{
                        background-position: center 100%;
                    }
                }
            }
        }
    }
}

@keyframes horizontalSlide {
    from {
        background-position: 0% center;
    }
    to {
        background-position: 100% center;
    }
}

@keyframes verticalSlide {
    from {
        background-position: center 100%;
    }
    to {
        background-position: center 0%;
    }
}