<div *ngFor="let row of rows; index as y" class="row" [attr.y]="y">
  <div
    *ngFor="let image of row.images"
    [attr.width]="image.width"
    [attr.image-id]="image.id"
    class="image"
    [class.cursor]="target"
    [ngStyle]="{'left': leftToPx(image.left) + 'px'}">
    <div
      class="{{ image.x }} {{ image.y }}"
      [attr.width]="image.width"
      [attr.image-id]="image.id"
      [class.animated]="image.animated"
      [class.vertical]="image.vertical"
      [class.horizontal]="!image.vertical"
      [ngStyle]="{'background-image': 'url(/assets/images/pictures/' + image.id + '.jpg)'}"
      (click)="clickOnPhoto($event)">
    </div>
  </div>
</div>